
.box1{
    height: 200px;
    text-align: center;
    margin:20px 0px 15px 100px;
    padding:10px 10px;
    border:12px solid rgb(0, 0, 0);

}
.box2{
    height:200px;
    text-align: center;
    margin:15px 0px 60px 100px;
    padding: 10px 10px;
    border:12px solid rgb(0, 0, 0);
}

form{
    height:400px;
    margin: 20px 20px;
    padding:45px 20px;
    border: 2px outset rgb(188, 187, 187);

}

input[type="text"],input[type="tel"],input[type="email"]{
    width:80%;
    height:25%;
    margin: 10px 0px;
}
